* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #17a2b8;
  --secondary: #00394f;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  background-color: rgb(255, 255, 255);
}
/* START OF NAV BAR */

nav{
    display: flex;
}
.logo{
    color: #17a2b8;
    font-size: 50px;
}

.caps{
    font-size: 100px;
}
/* END OF NAV BAR */



.dashbord {
  padding: 20px 40px;
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: var(--info);
  color: #ffffff;
}

.dash-board-writeup {
  width: 50%;
  padding-top: 10%;
}

.dash-board-image {
  width: 50%;
}
.kids {
  padding-bottom: 20px;
  font-size: 25px;
}

.new{
    font-size: 75px;
}

.sign-up{
    margin-top: 50px;
    height: 60px;
    width: 200px;
    background-color: #00394f;
    color: #FFFFFF;
    border-radius: 30px;
    border-style: none;
    font-weight: bold;
}

a :active{
    color: #FFFFFF;
}
